# Spark Installation and Integration with Python in Jupyter Notebook

## Pre-requisite

- Java
    - https://www.oracle.com/java/technologies/javase/javase8u211-later-archive-downloads.html
    - how to check java version  ==enter command in cmd or anaconda prompt==command==  java -version
  
- Spark Download
    - Download link : https://spark.apache.org/downloads.html
    - Unzip with the help of 7zip
    - Make new folder with the name of Spark and save extract version of Spark in it.
    
- Hadoop winutils
    - Download hadoop winutils from this below link:
    - https://github.com/cdarlint/winutils/tree/master/hadoop-3.2.1/bin

- Environmnet Variables Update
    - Variable name= SPARK_HOME	| Variable Value = C:\spark\spark-2.2.1-bin-hadoop2.7
    - Variable name=HADOOP_HOME	| Variable Value = C:\Hadoop
  
    - For JAVA===> Variable name = JAVA_HOME | Variable Value= C:\Program Files\Java\jdk1.8.0_311
    
<img src="https://changhsinlee.com/figure/source/2017-12-30-install-pyspark-windows-jupyter/add-variable.png"  />

- Pyspark Installation in Anaconda
    - ! pip install pyspark  (Write this command in Jupyter Notebook or in anaconda prompt)
  

- findspark Installation
    - ! pip install findspark

- Test

In [ ]:
! pip install pyspark

In [1]:
! pip install findspark

Collecting findspark
  Downloading https://files.pythonhosted.org/packages/a4/cb/7d2bb508f4ca00a043fd53e8156c11767799d3f534bf451a0942211d5def/findspark-2.0.1-py2.py3-none-any.whl
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [1]:
import pyspark
import findspark

In [2]:
findspark.init()

In [3]:
findspark.find()

'C:\\Spark\\spark-3.2.1-bin-hadoop3.2'

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName("MySpark").getOrCreate()

In [7]:
spark

In [8]:
df= spark.read.csv("Credit-History.csv")

In [10]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)

In [12]:
df.show()

+----+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| _c0|     _c1|   _c2|    _c3|       _c4|         _c5|          _c6|            _c7|              _c8|       _c9|            _c10|          _c11|         _c12|       _c13|
+----+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|null| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
|   0|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      null|           360.0|           1.0|        Urban|          Y|
|   1|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|     128.0|           360.0|           1.0|        Rural|          N|
|   2|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|      66.0|           360.0|           1.0|        Urban|          Y|
|   3|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|     120.0|           360.0|           1.0|        Urban|          Y|
|   4|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|     141.0|           360.0|           1.0|        Urban|          Y|
|   5|LP001011|  Male|    Yes|         2|    Graduate|          Yes|           5417|           4196.0|     267.0|           360.0|           1.0|        Urban|          Y|
|   6|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|           1516.0|      95.0|           360.0|           1.0|        Urban|          Y|
|   7|LP001014|  Male|    Yes|        3+|    Graduate|           No|           3036|           2504.0|     158.0|           360.0|           0.0|    Semiurban|          N|
|   8|LP001018|  Male|    Yes|         2|    Graduate|           No|           4006|           1526.0|     168.0|           360.0|           1.0|        Urban|          Y|
|   9|LP001020|  Male|    Yes|         1|    Graduate|           No|          12841|          10968.0|     349.0|           360.0|           1.0|    Semiurban|          N|
|  10|LP001024|  Male|    Yes|         2|    Graduate|           No|           3200|            700.0|      70.0|           360.0|           1.0|        Urban|          Y|
|  11|LP001027|  Male|    Yes|         2|    Graduate|         null|           2500|           1840.0|     109.0|           360.0|           1.0|        Urban|          Y|
|  12|LP001028|  Male|    Yes|         2|    Graduate|           No|           3073|           8106.0|     200.0|           360.0|           1.0|        Urban|          Y|
|  13|LP001029|  Male|     No|         0|    Graduate|           No|           1853|           2840.0|     114.0|           360.0|           1.0|        Rural|          N|
|  14|LP001030|  Male|    Yes|         2|    Graduate|           No|           1299|           1086.0|      17.0|           120.0|           1.0|        Urban|          Y|
|  15|LP001032|  Male|     No|         0|    Graduate|           No|           4950|              0.0|     125.0|           360.0|           1.0|        Urban|          Y|
|  16|LP001034|  Male|     No|         1|Not Graduate|           No|           3596|              0.0|     100.0|           240.0|          null|        Urban|          Y|
|  17|LP001036|Female|     No|         0|    Graduate|           No|           3510|              0.0|      76.0|           360.0|           0.0|        Urban|          N|
|  18|LP001038|  Male|    Yes|         0|Not Graduate|           No|           4887|              0.0|     133.0|           360.0|           1.0|        Rural|          N|
+----+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 20 rows

In [11]:
type(df)

pyspark.sql.dataframe.DataFrame

In [13]:
df=spark.read.option('header', 'true').csv("Credit-History.csv", inferSchema=True)

In [14]:
df.show()

+---+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|_c0| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+---+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|  0|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      null|           360.0|           1.0|        Urban|          Y|
|  1|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|     128.0|           360.0|           1.0|        Rural|          N|
|  2|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|      66.0|           360.0|           1.0|        Urban|          Y|
|  3|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|     120.0|           360.0|           1.0|        Urban|          Y|
|  4|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|     141.0|           360.0|           1.0|        Urban|          Y|
|  5|LP001011|  Male|    Yes|         2|    Graduate|          Yes|           5417|           4196.0|     267.0|           360.0|           1.0|        Urban|          Y|
|  6|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|           1516.0|      95.0|           360.0|           1.0|        Urban|          Y|
|  7|LP001014|  Male|    Yes|        3+|    Graduate|           No|           3036|           2504.0|     158.0|           360.0|           0.0|    Semiurban|          N|
|  8|LP001018|  Male|    Yes|         2|    Graduate|           No|           4006|           1526.0|     168.0|           360.0|           1.0|        Urban|          Y|
|  9|LP001020|  Male|    Yes|         1|    Graduate|           No|          12841|          10968.0|     349.0|           360.0|           1.0|    Semiurban|          N|
| 10|LP001024|  Male|    Yes|         2|    Graduate|           No|           3200|            700.0|      70.0|           360.0|           1.0|        Urban|          Y|
| 11|LP001027|  Male|    Yes|         2|    Graduate|         null|           2500|           1840.0|     109.0|           360.0|           1.0|        Urban|          Y|
| 12|LP001028|  Male|    Yes|         2|    Graduate|           No|           3073|           8106.0|     200.0|           360.0|           1.0|        Urban|          Y|
| 13|LP001029|  Male|     No|         0|    Graduate|           No|           1853|           2840.0|     114.0|           360.0|           1.0|        Rural|          N|
| 14|LP001030|  Male|    Yes|         2|    Graduate|           No|           1299|           1086.0|      17.0|           120.0|           1.0|        Urban|          Y|
| 15|LP001032|  Male|     No|         0|    Graduate|           No|           4950|              0.0|     125.0|           360.0|           1.0|        Urban|          Y|
| 16|LP001034|  Male|     No|         1|Not Graduate|           No|           3596|              0.0|     100.0|           240.0|          null|        Urban|          Y|
| 17|LP001036|Female|     No|         0|    Graduate|           No|           3510|              0.0|      76.0|           360.0|           0.0|        Urban|          N|
| 18|LP001038|  Male|    Yes|         0|Not Graduate|           No|           4887|              0.0|     133.0|           360.0|           1.0|        Rural|          N|
| 19|LP001041|  Male|    Yes|         0|    Graduate|         null|           2600|           3500.0|     115.0|            null|           1.0|        Urban|          Y|
+---+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 20 rows

In [15]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: double (nullable = true)
 |-- LoanAmount: double (nullable = true)
 |-- Loan_Amount_Term: double (nullable = true)
 |-- Credit_History: double (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)